@import "tailwindcss";
@import "../styles/animations.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(32, 33, 36);
  --foreground: #f0f0f0;
}

/* Base text font */
body {
  font-family: var(--font-body), sans-serif;
  color: var(--foreground);
  background: var(--background);
}

/* Headings font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), sans-serif;
}
